
.input-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    gap: 20px;
    width: 550px;
}

.input-wrapper, .currency-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-wrapper {
    flex: 1;
}

.currency-wrapper {
    min-width: 100px;
    max-width: 100px;

    display: flex;
    direction: row-reverse;
    justify-content: flex-start;
}

label {
    font-size: 14px;
    color: #999;
    font-weight: 400;
}

#box {
    height: 40px;
    font-size: 14px;
    border: none;
    outline: none;
    padding: 0;
    background-color: none;
}

#currency {
    height: 40px;
    font-size: 12px;
    font-weight: 400;
    border: none;
    background: none;
    cursor: pointer;
    text-align: right;
    width: 80px;
}