#border{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 2px solid rgba(255, 255, 255, 0.18);
    height: 60vh;
    width: 100vh;
    border-radius: 8px;
    margin: 18vh auto;
    
    /* Glassmorphism effect */
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

#inputs{
    display: flex;
    flex-direction: column;
    gap: 0;
}

#swap-button{
    background-color: #2563eb;
    color: white;
    border-radius: 8px;
    padding: 8px 16px;
    border: 3px solid white;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    height: 40px;
    
    position: absolute;
    top: 50%;
    /* bottom: 50%; */
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

#convert-button{
    background-color: #2563eb;
    color: white;
    border-radius: 10px;
    border: none;
    height: 50px;
    width: 100%;
    margin-top: 16px;
    cursor: pointer;
    font-weight: 400;
}